<div class="ui-fluid">
  <div class="ui-g">
    <p-tabView (onChange)="onTabChange($event)">
      <p-tabPanel header="Питання">
        <p-button label="Сбросить все" (onClick)="onDropClick()" styleClass="ui-button-danger"></p-button>
        <div class="dropdown-container">
          <h3>Вiк</h3>
          <p-dropdown [options]="ages" [(ngModel)]="selectedAge"></p-dropdown>
          <h3>Роль</h3>
          <p-dropdown [options]="roles" [(ngModel)]="selectedRole"></p-dropdown>
        </div>
        <app-quiz-table #quiztable></app-quiz-table>
        <p-button label="Сохранить" (onClick)="onSaveClick()" styleClass="ui-button-success"></p-button>
      </p-tabPanel>
      <p-tabPanel header="Графік">
        <div class="chart-container">
          <p-chart type="radar" [data]="chartData" [options]="options"></p-chart>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
