<p-table [value]="quiz" [tableStyle]="{'table-layout':'auto'}">
  <ng-template pTemplate="body" let-question>
    <tr>
      <th>{{ question.questionNumber }}</th>
      <th>{{ question.questionText }}</th>
      <th>Зараз</th>
      <th>Бажано</th>
    </tr>
    <tr *ngFor="let option of question.options">
      <td>{{ option.class }}</td>
      <td>{{ option.optionText }}</td>
      <td style="min-width:50px">
        <span>{{ option.now }}</span>
        <p-slider [(ngModel)]="option.now" [min]="0" [max]="100" orientation="vertical"
                   (ngModelChange)="onSliderValueChanged(question.options, option.class, 'now', $event)">
        </p-slider>
      </td>
      <td style="min-width:50px">
        <span>{{ option.desired }}</span>
        <p-slider [(ngModel)]="option.desired" [min]="0" [max]="100" orientation="vertical"
                   (ngModelChange)="onSliderValueChanged(question.options, option.class, 'desired', $event)">
        </p-slider>
      </td>
    </tr>
  </ng-template>
</p-table>